* { 
    margin: 0;
    padding: 0;
}

/*--------- BUSCADOR --------*/
/* FORMULARIO */
#search-form {
    display: flex;
    align-items: center;
}

#search-input {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
}

#search-input:focus {
    outline: none;
    border-color: dodgerblue;
}

/* BOTON DE BUSCAR */
#search-form button {
    padding: 5px 10px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-form button:hover {
    background-color: grey;
}


/*!-------------HEADER-------------!*/
header {
    background-color: black;
    z-index: 10;
}

/* header h1{
    color:white ;
    font-size: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align:start;
    background-color:black ;
} */


header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

header nav section{
    display: flex;
    justify-content: space-between;
}


header section img{
    height: 120px;
    width: 120px;
}


header nav ul li {
    margin: 5px;
}

header nav ul form {
    margin-left: 50px;
}

header nav ul li a {
    text-decoration: none;
    color: beige;
}



/*!-------------MAIN-------------!*/

main section h2 {
    color: beige;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size:xx-large;
    font-style: oblique;
}

main section ol {
    color: beige;
    margin: 30px;
    padding: 10px;

}

main section div ol{
    margin: 30px;
    margin-bottom: 40px;
}

main section p {
    color: beige;
    padding: 20px;
    text-align: center;

}

main section ol li{
    margin-bottom: 25px;
}


.hero {
    background-image: url(../img/fondofixeddos.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: 80vh;
    color: beige;
    text-align: center;

}

.hero h2 {
    font-size: 50px;
    border: 5px beige solid;
    display: inline-block;
    padding: 20px;
}

.hero p {
    font-size: 20px;
}

.bienvenidos h2 {
    text-align: center;
    margin-top: 10px;
    border: 2px solid black;
    background-color: beige;
    color: black;
}

.contenedor-iframe {
    display: flex;
    justify-content: center;
}

.productos > div{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.productos div div {
    border: 2px solid black;
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: black;
    color: beige;
    margin: 60px;
}

.productos h3 {
    font-size: 20px;
    text-align: center;
    background-color: beige;
    color: black;
    padding: 5px;
    margin-top: 65px;

}

.productos div h3 {
    margin-bottom: 20px;
    margin-top: 10px;
}

.productos div a {
    text-decoration: none;
    color: black;
    background-color: beige;
    font-size: 15px;
    font-weight: 1000;
    padding: 8px;
}

.productos div img {
    height: 280px;
    width: 250px;
}


.contenedor-productos {
    display: flex;
    flex-direction: row;
    gap: 20px;
    border: 2px solid black;
    text-align: center;
    width: 100%;
    color: beige;
}

.contenedor-productos > div {
    flex-basis: 33.3%;
    display: flex; 
    flex-direction: column;
    row-gap: 10px;
    width: 90%; 
}

.contenedor-productos > div img{
    height: 320px;
    width: 250px;
    margin: 0 auto;
    border-radius: 10px;
    height: 300px;
    max-width: 100%;
}

.boton {
    text-decoration: none;
    color: black;
    background-color: beige;
    border: 1px black solid;
    border-radius: 10px;
    padding: 6px;
    width: 245px;
    margin: 0 auto;
}

.boton-dos {
        text-decoration: none;
        color: black;
        background-color: beige;
        border: 1px black solid;
        border-radius: 10px;
        padding: 6px;
        width: 245px;
        margin-top: 20px;
}


/*!-------------FOOTER-------------!*/


footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:black;
}

footer h2 {
    color:beige;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    text-decoration: underline;
    left: 10px;
}




/* todo lo que se borró para flexbox

header nav ul li {
    display: inline-block;
    margin: 50px;
}

.productos div {
    border: 2px solid black;
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: black;
    color: beige;
    margin: 60px;
    display: inline-block;
}

.ofertas div {
    border: 2px solid black;
    width: 250px;
    height: 400px;
    text-align: center;
    background-color: black;
    color: beige;
    margin: 60px;
    display: inline-block;
} */